doctype html
html(data-use-rem)
  head
    meta(charset="utf-8")
    meta(name="format-detection", content="telephone=no")
    meta(name="viewport", content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    meta(name="description",content="")
    meta(name="keywords",content="")
    // 适用于 Retina 屏的 iPad
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='../app144x144.png')
    // 适用于 Retina 屏的 iPhone
    link(rel='apple-touch-icon-precomposed', sizes='120x120', href='../app120x120.png')
    title 习惯打卡
    link(rel="stylesheet",href="../css/index.css")
  body(ontouchstart="")
    // .test.hide
    //   .icon-font.icon-add
    //   .icon-font.icon-19wubangzhu
    //   .icon-font.icon-cc-delete
    //   .icon-font.icon-create
    //   .icon-font.icon-error
    //   .icon-font.icon-add1
    //   .icon-font.icon-shibai
    //   .icon-font.icon-mark
    //   .icon-font.icon-pause
    //   .icon-font.icon-yingyongintouch01
    //   .icon-font.icon-kaishi
    //   .icon-font.icon-flower1
    //   .icon-font.icon-flower2
    script.
    #app.page-single.z-platform-pc
      //.z-edit
      //edit-space
      .edit-space.c-border-b
        .fold(v-on:click="foldEditSpace")
          .icon-font.icon-pen
        .taskname-shadow {{currentTask.name}}
        .form-wrap
          .form
            .row
              .th 任务名称
              .tb
                input(type="text" v-model="currentTask.name" placeholder="任务名称").input#taskname.read
            .row.choise-times
              .th 几步完成
              .tb
                .times
                  -for(var i=1;i<11;i++)
                    label.input-wrap
                      input(type="radio"  v-model="currentTask.totalClockInNums" name="howtimes" value=i).input
                      .num=i
            .row.choise-week(type="1")
              .th 定日打卡
              .tb
                .one-day
                  label.input-wrap.large(v-for="day in dayTimes")
                    input(type="checkbox"  name="oneday" v-model="currentTask.workDayTime" v-bind:value="day").input.text-hide
                    .text {{day | sdate}}
            .row.choise-week(type="2")
              .th 每周打卡
              .tb
                .week-days
                  each val, index in ['一', '二', '三', '四', '五', '六', '日']
                    label.input-wrap
                      input(type="checkbox" v-model="currentTask.workWeekTime" name="choiseweek" value=index+1).input
                      .num=val
            .row.choise-month(type="3")
              .th 每月打卡
              .tb
                .month-days
                  -for(var i=1;i<33;i++)
                    label.input-wrap
                      input(type="checkbox" v-model="currentTask.workMonthTime" name="choisemonth" value=i).input
                      .num=i
            .row.btns-row
              .th
              .tb
                button.btn.btn-danger(v-if="showDelBtn" v-on:click="deleteTask" id="currentTask.id") 删除
                button.btn.btn-create(v-on:click="createTask") 新建打卡
            //任务商店
            .tasks-store
              .scroll
                .card-group
                  .card(
                    v-for="task in tasks" 
                    v-on:click.self="showTask"  
                    v-bind:data-id="task.id"  
                    v-if="task.isWork" 
                    v-bind:class="['type_'+task.type,task.isActive?'current':'']"
                  )
                    .info
                      .task-name {{task.name | formatName}}
      //打卡区域
      .work-space
        .card(v-for="task in tasks" 
          v-on:click.self="clockIn" 
          v-bind:data-id="task.id"  
          v-if="task.show"
          v-bind:class="[task.isActive?'current':'']")
          .info
            .task-name {{task.name | formatName}}
          .progress(v-bind:style="{width:task.clockInNums/task.totalClockInNums*100+'%'}")
      //打卡历史
      .history-space.c-border-t
        .history
          .date-view 
            .left 
              span.day {{today}}
              span.min /
              span.month.min {{timeLine.month+1 | to2}}
              span.min /
              span.year.min {{timeLine.year}}
            .right 
              .btn.prew(v-on:click="timelinePrew")
                .icon-font.icon-arrow-up
              .btn.next(v-on:click="timelineNext")
                .icon-font.icon-arrow-up
          .time-line
            .day(v-for="day in timeLine.days" v-on:click.self="viewTasksByDay" v-bind:data-time="day.time" v-bind:class="[day.weekend?'weekend':'',day.viewDay?'current':'']")
              .num {{day.isToday?"今":(day.weekend? "休" : day.day)}}
              .icon-font.icon-flower_fill(v-if="day.isFinished")
              // .icon-font.icon-cry-fill(v-if="day.day%2==1")
    .page-single.loading#loading
      p.result 正在加载用户数据...
    script(src="../js/zepto.min.js")
    script(src="../js/hammer.js")
    script(src="../js/vue.js")
    script(src="../js//wilddog.js")
    script(src="../js/util.js")
    script(src="../js/task.js")
    script(src="../js/tasksManage.js")
    script(src="../js/timeLine.js")
    script(src="../js/data.js")
    script(src="../js/taskTimeLine.js")
    script(src="../js/main.js")
