doctype html
html(data-use-rem)
  head
    meta(charset="utf-8")
    meta(name="format-detection", content="telephone=no")
    meta(name="viewport", content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    meta(name="description",content="")
    meta(name="keywords",content="")
    title 标题
    link(rel="stylesheet",href="../css/index.css")
  body(ontouchstart="")
    //文本框组件
    textarea.textarea.c-border-tb#input(placeholder="px输入")
    //文本框组件
    textarea.textarea.c-border-tb#output(placeholder="rem输出")
    .change-wrap
        button.lm-btn.lm-btn-primary.lm-btn-lg#change change
    script.
        var input=document.getElementById("input");
        var output=document.getElementById("output");
        var change=document.getElementById("change");
        change.addEventListener("click",function(){
            output.value=input.value.replace(/([0-9.]+)(px)/g,function(a,b,c){
                if(b==1){
                    return "1px";
                }
                return b/100+"rem";
            })
        })