doctype html
html(data-use-rem)
  head
    meta(charset="utf-8")
    meta(name="format-detection", content="telephone=no")
    meta(name="viewport", content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    meta(name="description",content="")
    meta(name="keywords",content="")
    title 标题
    link(rel="stylesheet",href="../css/index.css")
  body(ontouchstart="")
    script(src="https://tangbindu.github.io/cui/ui/dist/js/rem.min.js")
    script(src="https://tangbindu.github.io/cui/ui/dist/js/zepto.min.js")
    fieldset
        legend PX 1.5em line-height 
        .text.t12 
            span.v-box.h1215 1.5em
            span.v 12px像素的文字
        .text.t14 
            span.v-box.h1415 1.5em
            span.v xxxxx
        .text.t16 
            span.v-box.h1615 1.5em
            span.v 16px像素的文字
        .text.t18 
            span.v-box.h1815 1.5em
            span.v 18px像素的文字
        .text.t20 
            span.v-box.h2015 1.5em
            span.v 20px像素的文字
        .text.t22 
            span.v-box.h2215 1.5em
            span.v 22px像素的文字
        .text.t24 
            span.v-box.h2415 1.5em
            span.v 24px像素的文字
        .text.t28
            span.v-box.h2815 1.5em
            span.v 28px像素的文字
    fieldset
        legend REM 1.5em line-height 
        .text.rt12
            span.v-box.rh1215 1.5em
            span.v 0.24rem像素的文字 
        .text.rt14
            span.v-box.rh1415 1.5em
            span.v 0.28rem的文字
        .text.rt16
            span.v-box.rh1615 1.5em
            span.v 0.32rem的文字
        .text.rt18
            span.v-box.rh1815 1.5em
            span.v 0.36rem的文字
        .text.rt20
            span.v-box.rh2015 1.5em
            span.v 0.40rem的文字
        .text.rt22
            span.v-box.rh2215 1.5em
            span.v 0.44rem的文字
        .text.rt24
            span.v-box.rh2415 1.5em
            span.v 0.48rem的文字
        .text.rt28
            span.v-box.rh2815 1.5em
            span.v 0.56rem的文字
    .summary
        p rem做行高会有会比实际高度小，尤其在14-24px的字体之间
    script.
      ;(function(win){
        var wrap,text,contentHeight;
        wrap=win.document.createElement("div");
        text=win.document.createElement("span");
        wrap.style="font-size:0px;line-height0;visibility:hidden;width:100px;display:inline-block;position:absolute;left:10000px;";
        text.style="font-size: 14px;line-height:7px;height: 0px;"
        text.innerHTML="国";
        wrap.appendChild(text);
        win.document.body.appendChild(wrap);
        contentHeight=wrap.clientHeight;
        contentHeight==7 && win.document.body.classList.add("line-height-hack");
        win.document.body.removeChild(wrap);
      })(window);

